@font-face {
    font-family: scaryFont;
    src: url(/Angular-src/media/scary.ttf);
    font-weight:400;
}

.large-scary{
    color: yellow; 
    font-family: scaryFont;
    font-size: 3.5em;
}

.nolink {
  text-decoration:  none;
}

.nolink:hover {
  text-decoration:  none;
}

.nolink:link {
  text-decoration:  none;
}

.nolink:visited {
  text-decoration:  none;
}

.nolink:active {
  text-decoration:  none;
}